<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Start-Maze</title>
</head>
<body>
<form method="post" action="/start" class="border rounded p-4 shadow">
    <h1>Bienvenido al juego</h1>
    <div class="form-group">
        <label for="mapOption">Selecciona el mapa</label>
        <select id="mapOption" name="mapId" class="form-select my-1 text-center">
            <option th:each="map : ${maps}" th:value="${map.id}" th:text="${map.mapName}"></option>
        </select>
        <input type="submit" value="Envia">
    </div>
</form>
</body>
</html>